.row
	.col-md-6.col-md-offset-3
			p.title.lead Welcome on this online wallet, first create a wallet
			h1.title Qianbaoba
				small(ng-hide="wallet._id === undefined") : {{ wallet._id }}
			form.form-horizontal.secondary-bg.rounded.padding-xl(name="form_createWallet", ng-show="wallet._id === undefined")
				.form-group
					label.col-md-3.control-label Choose a title
					.col-md-9
						input.form-control.input-lg(type="text", name="title", placeholder="Title", required, ng-model="wallet.title")
				.form-group
					label.col-md-3.control-label What's your actual amount
					.col-md-9
						input.form-control.input-lg(type="number", name="init_amount", placeholder="Amount", min="0", required, ng-model="wallet.transactions[0].amount")
				.form-group
					label.col-md-3.control-label Which currency ?
					.col-md-9
						select.form-control(name="currency", required, ng-model="wallet.transactions[0].currency")
							option(value="EUR", selected) Euro
							option(value="USD") Dollar
							option(value="CNY") Yuan
				.form-group
					.col-md-9.col-md-offset-3
						button.btn.btn-lg.btn-primary.palette.palette-green-sea(ng-click="createWallet()", ng-disabled="!form_createWallet.$valid")
							i.fa.fa-plus.fa-fw
							| Create a wallet
			.secondary-bg.rounded.padding-xl(ng-hide="wallet._id === undefined")
				p.lead Congrats your wallet is create his ID is :
					br
					span.palette.palette-emerald {{ wallet._id }}
				p You can copy this ID to access your wallet later
				a.btn.btn-lg.btn-primary.palette.palette-green-sea(href="#/wallet/{{ wallet._id }}") Access my wallet !
